<div class="panel panel-success">
    <div class="panel-heading">
        {{ pageTitle }}
    </div>
    <div class="panel-body">
        <div class="row">
            <img src="./app/assets/images/logo.png"
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
        </div>
        <div class="row">
            <p>Welcome to Zeolearn.</p>
            <p>We are here to build you a new beginning, not just dump you with information. Talk to our customer
                Support Specialist if you have a doubt about what courses are the right fits for you. Check out the
                courses we have and consult us on them. Audit a class and see if you like our approach to up-skilling
                you.
            <p>
                <b>Explore. Learn. Decide.</b>
        </div>
    </div>
</div>